body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    background-color: black;
    height: 100vh; /* Full screen height */
    display: flex;
    flex-direction: column;
}

.clock {
    width: 100vw;
    height: 100vh;
    max-width: 100vh;
    max-height: 100vh;
    border-radius: 50%;
    margin: auto;
    position: relative;
    background-color: black;
}

.face {
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(-3px);
}

.hand {
    position: absolute;
    background-color: white;
    top: 50%;
    left: 50%;
    transform-origin: 0% 50%; /* Rotate from the left side */
    transform: rotate(90deg);
    transition: all 0.05s;
}

/* Hour hand: shorter */
.hour {
    width: 22vh; /* Fixed length based on viewport height */
    height: 0.5vh; /* Thickness of the hand */
    background-color: white;
}

/* Minute hand: longer than hour hand */
.minute {
    width: 35vh;
    height: 0.4vh;
}

/* Second hand: the longest, but should not exceed the clock radius */
.second {
    width: 35vh;
    height: 0.3vh;
    background-color: red;
}

#ticks {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.tick {
    position: absolute;
    width: 4px;
    height: 10px;
    background-color: white;
    top: 50%;
    left: 50%;
    transform-origin: 100%;
}

.tick.hour-tick {
    height: 20px;
    background-color: white;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2vh;  /* Make center point scalable */
    height: 2vh;
    background-color: red;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}
