body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    background-color: black;
    height: 100vh; /* Full screen height */
    display: flex;
    flex-direction: column;
}

.clock {
    width: 95vw;
    height: 95vh;
    max-width: 95vh;
    max-height: 95vh;
    border-radius: 50%;
    margin: auto;
    position: relative;
    background-color: black;
}

.face {
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(-3px);
}

.hand {
    position: absolute;
    background-color: white;
    top: 50%;
    left: 50%;
    transform-origin: 0% 50%; /* Rotate from the left side */
    transform: rotate(90deg);
    transition: all 0.05s;
    box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.7);
}

/* Hour hand: shorter */
.hour {
    width: 22vh; /* Fixed length based on viewport height */
    height: 0.5vh; /* Thickness of the hand */
    background-color: white;
}

/* Minute hand: longer than hour hand */
.minute {
    width: 35vh; /* Fixed length based on viewport height */
    height: 0.4vh;
}

/* Second hand: the longest, but should not exceed the clock radius */
.second {
    width: 38vh; /* Length based on viewport height to maintain proportionality */
    height: 0.3vh; /* Thickness is thinner than the minute and hour hands */
    background-color: red;
    box-shadow: 0px 0px 5px rgba(255, 0, 0, 0.7);
}

#ticks {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.tick {
    position: absolute;
    width: 4px;
    height: 10px;
    background-color: white;
    top: 50%;
    left: 50%;
    transform-origin: 100%;
}

.tick.hour-tick {
    height: 20px;
    background-color: white;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 5vh;  /* Make center point scalable */
    height: 5vh;
    background-color: red;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

#controls {
    height: 5vh; /* 5% of the viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 0px;
}
